In [1]:
import src
import os
import numpy as np
import sys
import re
import math
import pandas as pd
import matplotlib.pyplot as plt
sys.path.insert(0, 'C:/Users/pkicsiny/Desktop/TUM/3/ADL4CV/ADL4CV_project/models')

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
os.listdir(sys.path[0])

['sgan_2-1', 'sgan_2-1_w', 'tgan_2-1', 'unet_2-1']

In [3]:
scores = {}
for model in os.listdir(sys.path[0]):
    try:
        scores[model] = np.load(sys.path[0]+"/"+model+"/"+model+"_scores.npy")
    except:
        pass

In [4]:
scores.keys()

dict_keys(['sgan_2-1', 'sgan_2-1_w', 'tgan_2-1', 'unet_2-1'])

In [5]:
scores['sgan_2-1_w'].item().keys()

dict_keys(['pred_1', 'pred_2', 'pred_3', 'pred_4', 'pred_5'])

In [6]:
result = {}
for model in scores.keys():
    result[model] = pd.DataFrame(
        data=[pd.DataFrame(scores[model].item()[key]).mean(skipna=True) for key in scores[model].item().keys()],
        index=scores[model].item().keys())#.groupby(['corr_to_input', 'corr_to_truth'])

In [7]:
result["sgan_2-1_w"]

        corr_to_input  corr_to_truth       csi       far       pod
pred_1       0.186951       0.176242  0.060228  0.922667  0.263047
pred_2       0.202568       0.188747  0.056994  0.930796  0.332566
pred_3       0.219741       0.200627  0.052136  0.939977  0.421934
pred_4       0.227934       0.211601  0.047987  0.946926  0.525442
pred_5       0.226111       0.214665  0.044815  0.952066  0.576983

In [8]:
result["tgan_2-1"]

        corr_to_input  corr_to_truth       csi       far       pod
pred_1       0.419722       0.408843  0.158531  0.648910  0.240742
pred_2       0.286258       0.284586  0.098920  0.777811  0.173009
pred_3       0.226415       0.223684  0.072718  0.844066  0.148683
pred_4       0.203311       0.197327  0.060857  0.874601  0.136485
pred_5       0.000000       0.000000       NaN       NaN       NaN

In [9]:
result["unet_2-1"]

        corr_to_input  corr_to_truth       csi       far       pod
pred_1       0.831327       0.836055  0.638678  0.322863  0.914238
pred_2       0.664743       0.701171  0.585867  0.283978  0.762600
pred_3       0.500319       0.545513  0.480002  0.292094  0.609874
pred_4       0.362328       0.391256  0.381965  0.322462  0.488021
pred_5       0.270801       0.274132  0.310207  0.387576  0.401632

In [ ]:
fig, ax1 = plt.subplots(1,1)
ax1.plot(result["sgan_2-1"]["corr_to_input"], label="Ds", linestyle='--',c="r")
ax1.plot(result["sgan_2-1"]["corr_to_truth"], label="Ds", c="darkred")

ax1.plot(result["tgan_2-1"]["corr_to_input"], label="Ds+Dt", linestyle='--',c="b")
ax1.plot(result["tgan_2-1"]["corr_to_truth"], label="Ds+Dt", c="darkblue")

ax1.plot(result["unet_2-1"]["corr_to_input"], label="Unet", linestyle='--',c="orange")
ax1.plot(result["unet_2-1"]["corr_to_truth"], label="Unet", c="darkorange")
ax1.grid()
ax1.set_xticklabels(["5", "10", "15", "20", "25"])
ax1.set_xlabel("Prediction time")
ax1.set_ylabel("Correlations")
ax1.legend()
plt.savefig("corrs")

In [ ]:
fig, ax2 = plt.subplots(1,1, figsize=(12,4))
ax2.plot(result["sgan_2-1"]["csi"], label="CSI")
ax2.plot(result["sgan_2-1"]["pod"], label="POD")
ax2.plot(result["sgan_2-1"]["far"], label="FAR")

ax2.set_xlabel("Prediction time")
ax2.set_ylabel("Scores")
ax2.grid()
ax2.set_xticklabels(["5", "10", "15", "20", "25"])
ax2.legend()

In [ ]:
fig, ax2 = plt.subplots(1,1, figsize=(12,4))
ax2.plot(result["tgan_2-1"]["csi"], label="CSI")
ax2.plot(result["tgan_2-1"]["pod"], label="POD")
ax2.plot(result["tgan_2-1"]["far"], label="FAR")

ax2.set_xlabel("Prediction time")
ax2.set_ylabel("Scores")
ax2.grid()
ax2.set_xticklabels(["5", "10", "15", "20", "25"])
ax2.legend()